*{
    padding:0;
    margin:0;
    font-family: 'NordSud';
}

body {
    height: 100vh;
    width: 100vw;
    overflow:hidden;
}
.hidden {
    display: none;
}

.dropdown:hover ul {
    display: block;
}

.dropdown:hover ul li:hover section {
    display: block;
    
}

.dropdown {
    height: auto;
    width: 100%;
    min-height: 30px;
    background-color: #999;
}

.dropdown li {
    height: 5vh;
    list-style: none;
    color: #fff;
    padding-left: 15%;
    line-height: 5vh;
    border-bottom: 1pt solid #fff;
    background-color: #CCC;
}

.dropdown li:last-child {
    border-bottom: 1pt solid #000;
}

.dropdown li:hover {
    background-color: #888;
}

.dropdown:hover {
    background-color: #666;
}

.dropdown div {
    height: 5vh;
    color: #fff;
    padding-left: 10%;
    border-bottom: 1pt solid #000;
    line-height: 5vh;
}

.content {
    position: absolute;
    left:25%;
    width:25%;
    height: 50%;
    background-color: #999;
    margin-top: -5vh;
    border-left: 2pt solid #666;
    z-index: 2;
}

#title {
    height: 10vh;
    line-height: 10vh;
    font-size: 2em;
    padding-left:5%;
    color: #fff;
}

#dropdownContainer {
    background-color: #000;
    width:25%;
    height: 100%;
    left:0;
    top:0;
    
}

#bgHolder {
    position: absolute;
    top:0;
    width: 75%;
    height: 100%;
    left:25%;
    background-color: blue;
    border-left: 2pt solid #666;
}

.cContent {
    position: relative;
    width: 90%;
    padding-left: 0 !important;
    border-bottom: none !important ;
    height: 75% !important;
    left:5%;
}

.cTitle {
    position: relative;
    width: 100%;
    height: 5vh !important;
    padding-left: 0 !important;
    border-bottom: none !important ;
    text-align: center;
    background-color: #888;
    
}

.cDone {
    position: relative;
    width: 90%;
    left: 5%;
    height: 10%;
    padding-left: 0 !important;
    border-bottom: none !important ;
    bottom: 0;
}

.cContainer{
    position: absolute;
    width: 100%;
    height: 100% !important;
    padding-left: 0 !important;
    border-bottom: none !important ;
    background-color: #BBB;
    border: 2pt solid #666;
}

.CliffBG {
    background-image: url("Images/cliff.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'NordSud';
    src: url('NordSudA.ttf') format('truetype');
}